[2022-01-15 19:09] #350 closed

[2022-01-15 19:10] martinknafve commented on #355
This one won't be implemented, due to lack of time on my part and a workarounds exists (view the log on disk instead of UI, or start 2 copies of the UI).

[2022-01-15 19:10] #355 closed

[2022-01-15 19:10] #346 closed

[2022-01-15 19:11] martinknafve commented on #183
I won't fix this one, due to lack of time on my part.

[2022-01-15 19:11] #183 closed

[2022-01-15 19:11] #174 closed

[2022-01-15 19:12] martinknafve commented on #156
I won't fix this one, due to lack of time on my part.

[2022-01-15 19:12] #156 closed

[2022-01-15 19:13] martinknafve commented on #339
Will be handled as part of https://github.com/hmailserver/hmailserver/issues/295.

[2022-01-15 19:13] #339 closed

[2022-01-15 19:16] martinknafve commented on #303
I won't add support for non-GUI versions of Windows server, due to lack of time.

[2022-01-15 19:16] #303 closed

[2022-01-15 19:18] martinknafve commented on #153
The OnHelo-event was merged some time ago so closing this.

[2022-01-15 19:18] #153 closed

[2022-01-15 19:24] martinknafve commented on #273
This won't be implemented, due to lack of time on my part.

[2022-01-15 19:25] #257 closed

[2022-01-15 19:25] martinknafve commented on #326
This won't be implemented, due to lack of time on my part.

[2022-01-15 19:25] #326 closed

[2022-01-15 19:26] martinknafve commented on #169
This won't be implemented, due to lack of time on my part.

[2022-01-15 19:26] #169 closed

[2022-01-15 19:26] martinknafve commented on #87
This won't be implemented, due to lack of time on my part.

[2022-01-15 19:26] #87 closed

[2022-01-15 19:27] martinknafve commented on #175
This won't be implemented, due to lack of time on my part.

[2022-01-15 19:27] #175 closed

[2022-01-15 19:28] martinknafve commented on #207
This won't be implemented, due to lack of time on my part.

[2022-01-15 19:28] #207 closed

[2022-01-15 21:42] RvdHout commented on #176
This shouldn't be that hard to add, is it OK if I give it a try?

[2022-01-15 21:51] pik-256 commented on #382
I am sure but I feel I need to explain more: wyborcza.pl is a big polish newspaper publisher, it is not my domain. I cannot change anything on their domain.
I noticed a DKIM violation in all messages coming from this sender to my server. I mean: "X-hMailServer-Reason-1: Rejected by DKIM. - (Score: 3)" header in all incoming messages.
But a DKIM verifier plugin I have installed to Thunderbird claim

[2022-01-15 22:19] RvdHout commented on #382
My best bet is they configured there DNS wrong earlier and most likely meanwhile have resolved it
I did a record lookup and like you i can confirm their DNS record now looks OK

[2022-01-15 23:21] RvdHout commented on #176
@martinknafve or @jimimaseye
Just to make sure i am on the right track here...

Multiple PTR records can exist for a single IP? [[1]](https://serverfault.com/questions/618700/why-multiple-ptr-records-in-dns-is-not-recommended)
The PTR should math the HELO? [[2]](https://serverfault.com/questions/416367/with-regard-to-anti-spam-practices-what-exactly-does-a-typical-reverse-dns-chec)

[2022-01-15 23:48] RvdHout commented on #176
Mmm, hotmail.com address fails PTR check?
[code]

[2022-01-16 00:44] RvdHout commented on #176
OK, time to go to bed i think... reading the mentioned topic [[2]](https://serverfault.com/questions/416367/with-regard-to-anti-spam-practices-what-exactly-does-a-typical-reverse-dns-chec) it really doesn't care about the HELO greeting used, right?

So, assuming that is right that would mean, when:
`40.92.73.19 -> PTR record = mail-oln040092073019.outbound.protection.outlook.com`
matches:
`mail-ol

[2022-01-16 01:07] RvdHout commented on #176
like this

[code]

[2022-01-16 06:20] Neustradamus opened #409 "Improvements of organization and repositories"
Dear @martinknafve,

To do improvements:

In the organization, you can add the logo, a description, the website...

You can pin this repository.

In all repositories, at right, you can click on the gear and add description, topics, enable or disable options...

You can add a repository hmailserver.github.io for the website and it will be hmailserver.com.

Note: The forum needs to be forum.hmailser

[2022-01-16 06:22] andrewchenshx commented on #403
finally i found there were too many duplicated emails.
i got a sript to delete it.

[2022-01-16 09:06] RvdHout commented on #176
Still waiting for a non-matching or empty PTR....

[code]

[code]

[code]

[code]

[code]

[2022-01-16 10:31] RvdHout commented on #176
![CheckPTR](https://user-images.githubusercontent.com/13403301/149656345-5bfd8393-d74a-4130-8350-9b8f0542631c.png)

[2022-01-16 10:32] RvdHout commented on #176
![CheckPTR](https://user-images.githubusercontent.com/13403301/149656396-d698c841-70a7-43ad-b846-8a660afce24b.png)

[2022-01-16 15:30] jimimaseye commented on #176
Your screenshot of proposed changes: That looks pretty much what I was thinking.

(Addressing earlier posts:) yes I believe it they are comparing the A record IP address of the name returned from what is advertised from the PTR lookup f the connecting address.  In any case, these matches should only be given 'slight' weight in the ultimate determination of spam and not solely relied on.

Presumabl

[2022-01-16 15:34] jimimaseye commented on #175
@RvdHout   I think this seems an easy one and something you can quickly apply?  (A straight IF condition check on the path being quoted at the time of entry)

[2022-01-16 15:40] jimimaseye commented on #169
@RvdHout @OutbackMatt Simple to include?  Worth doing?  Or verging on moving from 'simple uncluttered' interface to 'cluttered with barely useful' display?

[2022-01-16 16:00] jimimaseye commented on #183
@RvdHout  Simple one to code for (a conditional check at time of entry)?  Want to take it on?

[2022-01-16 16:52] RvdHout commented on #183
Where exactly is this happening, in webdmin or in GUI?

[2022-01-16 16:55] jimimaseye commented on #183
It will be in Admin GUI (I dont use webadmin)

[2022-01-16 20:37] RvdHout commented on #176
Have some issues trying to get some things clear, browsing through RFC's i can not find conclusive answers, example:

Can more than one PTR record exits for a IP?
Can a PTR record be a CNAME-record
Can more then one A records exits for a PTR IP address Lookup

[2022-01-16 21:01] jimimaseye commented on #176
From what i read and understand,  it is not forbidden to have multiple ptr records for one address but it's is thought to be unconventional at best and problematic at worst.

Thinking about the logic of testing:

Incoming -> get the ip address.
Do ptr lookup -> get fqdn
Do A recited lookup of fqdn to g ert ip address.

What if the 1st ptr record is not the one required? Why would we need a second

[2022-01-16 21:08] Neustradamus commented on #183
@martinknafve: It is not good to close all unsolved tickets!

I have done all informations to change the status of hMailServer.

[2022-01-16 21:12] martinknafve commented on #183
@Neustradamus Issues which there are no plans to address will be closed. If someone wants to pick it up and implement it then they can be re-opened. Please stop spamming unrelated messages into threads. If it happens again, I will block your account from further communication in this repo. Thanks.

[2022-01-16 21:14] martinknafve commented on #409
This will not be implemented. I have no plans on migrating the website over to github. Thanks.

[2022-01-16 21:14] #409 closed

[2022-01-16 22:28] RvdHout commented on #176
@martinknafve

What do you think about this as rDNS/PTR check?

[code]

Or do you think it better to differentiate between DNS failures and empty responses (if possible)?

[2022-01-16 22:57] RvdHout commented on #176
This might be better, eg: differentiate between DNS failures and empty responses

[code]

[2022-01-16 23:17] OutbackMatt commented on #408
No logs, no mini-dumps created

Playing a bit more with this, I may have it backwards
The DDS has worked a couple of times (single domains) this morning and failed a couple of times (all domains)
Last week it failed on both, although the 'all domains' failures today were both on the exact same folder.

Perhaps the error in DDS is due to the the hmailserver.exe (service) failing, and not causing th

[2022-01-16 23:25] RvdHout commented on #176
@jimimaseye
The only other place in the code where PTR lookup is used is in SMTPMessageHeaderCreator.cpp and there only (a single) the first returned PTR is used to create the message Received header

[2022-01-17 05:17] Neustradamus commented on #409
@martinknafve: You have not read the ticket.

I will create a new ticket.

[2022-01-17 05:18] Neustradamus opened #410 "Improvements of organization and repositories"
Dear @martinknafve,

To do improvements:

In the organization, you can add the logo, a description, the website...

You can pin this repository.

In all repositories, at right, you can click on the gear and add description, topics, enable or disable options...

You can:
- Send an email to request new developers
- Create a ticket to request new developers and pin this ticket
- Create a post to requ

[2022-01-17 05:22] Neustradamus commented on #409
@martinknafve: Done: https://github.com/hmailserver/hmailserver/issues/410.

Please read here and the new ticket, please read thanks.

Note: To win time, in the new ticket, I have remove (the less important part):
[code]

[2022-01-17 07:26] alie2n commented on #394
I think you misunderstood the main reason for this issue.
When trying to use Exchange Online as relay for hmailserver you need to authenticate to relay mails. After enabling multi factor authentication (which already is the default for new tenants and cannot not be turned of) I found no way to authenticate.

The only way would be support modern authentication.

[2022-01-17 09:24] RvdHout opened #411 "Some dnslookups will fail, meanly/only with External Download"
@martinknafve

While working on [176](https://github.com/hmailserver/hmailserver/issues/176) i noticed some dnslookups will fail, this happens meanly/only when mail is downloaded through POP3 from a external server.

The mail on the external server may be processed by servers located within private IP ranges, therefor the received header(s) checked by HMS will report (using GetOriginatingIP()) thi

[2022-01-17 09:36] RvdHout commented on #411
All Received headers for such message:

[code]

[2022-01-17 09:45] RvdHout commented on #411
@martinknafve
Just share your thoughts on it, I will make a PR for it is considered useful 😉

[2022-01-17 16:54] helptiger commented on #347
The issue was fixed and the code has been released.

[2022-01-17 16:54] #347 closed

[2022-01-18 13:36] RvdHout commented on #183
@jimimaseye, there is (almost) no validation done anywhere withing the GUI, eg: enable spam option but leave/make score empty...all is possible, so to do that for just this item seems worthless to me

[2022-01-18 14:06] jimimaseye commented on #183
Indeed, there isnt.  It's a tricky one:  in one sense you are right (why validate here when there isnt anywhere else) but on the other hand having missing validation does leave the software open to problem.  I guess the change could be seen as an improvement to solidify its functionality but I can also see that doing this should include checking the other areas that need it too.  Given that this p

[2022-01-18 15:04] Neustradamus commented on #183
@jimimaseye: Yes I have requested a better hMailServer development, he has started to change the github account to organization (not complete, description, logo, topics, etc. are not here), a good begining to have new developers.

But the easy solution to close unsolved tickets is not good because developers can not understand if it is solved or not.

I have requested to do announcement on ML, on

[2022-01-19 15:23] RvdHout commented on #176
@jimimaseye running it since sunday without any hit (only got his with external pop3 download, see above link)

Makes you wonder if it is worth it...

[2022-01-19 16:08] RvdHout commented on #176
@jimimaseye

I also have doubts if looping PTR records is the right thing to do, as this can cause a infinite loop
Or we should limit it, but where do we limit it? 10, 20, 30,... 100?
Beside that especially for mail systems there should be only a single PTR record (although read some guy putting in PTR records for every domain he hosts, and yet sens out mail using a single ip)

[2022-01-20 08:54] RvdHout commented on #176
FYI, it all seems to function OK for IPv6 as well

[code]

[2022-01-20 09:34] RvdHout opened #412 "IPAddress.IsAny() IPv6"
@martinknafve

I think something is wrong with the IPAddress.IsAny() check, eg:

[code]

To be honest i do not see much wrong with it, but it returns (i put in this debugline) this for a gmail Ipv6 address

`
"DEBUG"	4824	"2022-01-20 10:29:04.331"	"2a00:1450:4864:20::32b.IsAny(): False"
`

[2022-01-20 18:19] SorenRR commented on #176
Just my 2 cents...

SMTP banner should contain PTR and if IP address resolve to PTR then fine, server is (most likely) valid.
If IP address do not resolve then server should be handled with care!

[2022-01-20 18:30] RvdHout commented on #176
SMTP(helo) banner is really no requirement for a valid rDNS/PTR, one of the biggest, eg: outlook.com doesn't comply to that (see examples above) so would be really asking for trouble to score those

Outlook voor Android<https://aka.ms/AAb9ysg> downloaden
________________________________
From: Søren Raagaard Rathje ***@***.***>
Sent: Thursday, January 20, 2022 7:19:45 PM
To: hmailserver/hmailserver

[2022-01-20 18:51] SorenRR commented on #176
SMTP banner and HELO greeting are two different things.

Like...

SMTP Banner  : "SENT: 220 212.27.3.196.mobile.3.dk ESMTP"
EHLO Greeting: "RECEIVED: EHLO out-23.smtp.github.com"

[2022-01-20 18:55] RvdHout commented on #176
But still it has no part of the rDNS//PTR check.
Same remark about outlook com/hotmail.com addresses still applies here, check your logs

Outlook voor Android<https://aka.ms/AAb9ysg> downloaden
________________________________
From: Søren Raagaard Rathje ***@***.***>
Sent: Thursday, January 20, 2022 7:51:33 PM
To: hmailserver/hmailserver ***@***.***>
Cc: RvdH ***@***.***>; Comment ***@***.***>
Sub

[2022-01-20 23:30] RvdHout commented on #176
Just got home and thought about you remark a bit further....the SMTP banner is what the receiving server send, but how on earth you you want to combine that for validating the sending servers rDNS/PTR check, makes no sense

[2022-01-21 07:01] RvdHout commented on #412
Oops sorry, looks like I misinterpret what this function really does as it also return false for any IPv4 addresses
`"DEBUG"	5480	"2022-01-21 05:08:19.798"	"171.44.231.87.IsAny(): False"`

Weird stuff??

[2022-01-21 11:16] SorenRR commented on #176
Perhaps I just completely missed what you are trying to do here...

[2022-01-22 09:20] #412 closed

[2022-01-22 09:25] RvdHout commented on #176
It is pretty well explained [here](https://github.com/hmailserver/hmailserver/issues/176#issuecomment-1013783672)

[2022-01-22 11:20] RvdHout commented on #176
I get some undesired results

[code]

Whereas 1460 stands for a DNS timeout as far as i have found, now i have to find who is to blame, my BIND9 instance or maybe it is not possible to differentiate between DNS failures (eg: this timeout) and empty responses

[2022-01-22 15:02] SorenRR commented on #176
Right... So what if there is no PTR. According to RFC 1912 section 2.1 ; "Every Internet-reachable host should have a name."

"SHOULD" ... Not "MUST" or "SHALL", "SHOULD" is only a recommendation!

This means your assumption of SPAM is only true in the explicit case where PTR <> IPAddress. Not claiming IP addresses with no PTR do not SPAM, only some may be falsly accused of SPAMMING due to policy

[2022-01-22 15:23] RvdHout commented on #176
You would have a valid point, **if not every other** (or almost every other) mailserver or spamfilter uses the PTR/rDNS check...if you had read the start of this topic, you would have known this is basic functionality in many products.
For ISP residential IP's for example it is quite common to have a static PTR, eg: not resolving to their own IP address but to the ISP which might be an advantage i

[2022-01-22 15:58] SorenRR commented on #176
RFC8501 mention RFC1912 in the Introduction with "every Internet-reachable host should have a name" and then further states that "PTR records must point back to a valid A record" in section 1.2.

Where exactly, in which RFC, does it say that an IP address MUST have a valid PTR? All it says is IF it has one it MUST be valid!

Someone somewhere sometime made the assumption that a best pratice now is

[2022-01-22 16:21] RvdHout commented on #176
So basically what you claim is that every piece of software that uses rDNS/PTR is wrong?
Please go let your brain checked

[2022-01-22 23:35] OutbackMatt commented on #176
My two bits
I think adding this as a spam check allows admins to set whatever value they choose in SPAM scoring

(Just like testing to see if a valid spf record exists - not REQUIRED to have, but some admins may choose to spam score based on accuracy of SPF check)

If rDNS/PTR is added as a spam check, admins can choose to use it or not

[2022-01-23 00:16] RvdHout commented on #176
A good example is from our Vietnamese friends, seen quite frequently in SMTP logs, static.vnpt.vn
14.247.252.17 -> PTR -> static.vnpt.vn -> A -> 203.162.0.78 = No match, and likely to be a spammer

Another, Chinese
171.44.229.23 -> PTR -> NXDOMAIN = No match, and likely to be a spammer

[2022-01-23 01:44] OutbackMatt commented on #408
And today (Sunday morning - should be quiet time) every time I use DDS it crashes hMailserver without error logs being created, without minidump.

When I thought that the DDS worker the other day, what I meant was it didn't crash, and it didn't error, but it also didn't bring up any visual acuity to say  'completed'  - and certainly messages that I was expecting to be imported were not...

[2022-01-23 03:00] OutbackMatt commented on #408
Found that I had done this >> https://www.hmailserver.com/forum/viewtopic.php?f=21&t=29828
Many years ago

Removing that index from the database and it seems to work fine, in that it runs though and shows completed at the end

I'm still checking to see if the massages get added as expect

[2022-01-23 08:30] jimimaseye commented on #176
@OutbackMatt @RvdHout bri much exactly what and why I was thinking when raising the ticket. Obviously up to hms admin to choose what weight he gives (by setting a score). As i said, the DEBUG log already shows evidence of existing ptr check in place  (scoring Zero) - the question is about how accurate it is (what does it look at) and having the option to tailor the score.

[2022-01-23 12:21] waltergrimmvie opened #414 "hMailserver with Postgres DB"
I am trying to install hMailserver with Postgres.

I have checked and looked at multiple google links.

I just cannot connect to Postgres during hMailserver setup, it always requires authentication, which I am being told is supported.

Starting task...
Please wait while creating database...
authentication method 10 not supported

Does anyone please have an procedure to connect hMailserver to Postg

[2022-01-23 13:01] RvdHout commented on #414
Maybe this can help you?
https://www.hmailserver.com/forum/viewtopic.php?f=21&t=31638&p=198543&hilit=Postgres#p198543

[2022-01-23 15:25] waltergrimmvie commented on #414
thank you very much, yes tried this 5 times++ in now in the last few month, still getting the error abone

The article is from 2017, I assume there are soem changes, most noteably the pg_hba.conf setting, scram-sha-256 instead of md5 as in the article

![image](https://user-images.githubusercontent.com/42313805/150685721-9761cb3e-b5a4-42dd-8cab-ce5e973739c1.png)

[2022-01-23 15:30] RvdHout commented on #414
Not using Postgres myself, but if i read that topic right you **do not change it to md5** but into **password**

But if that is still possible nowadays?

[2022-01-23 15:48] waltergrimmvie commented on #414
thanx for your help,

this is the text from the article: (From md5 to password)

FROM:
host     all             all             127.0.0.1/32            md5
TO:
host     all             all             127.0.0.1/32            password

furthermore it says
"# "local" is for Unix domain socket connections only"

I am using the Windows Postgres

BUT: I replaced "scram-sha-256" to  password for all row

[2022-01-23 15:49] RvdHout commented on #414
Good the hear, enjoy!

[2022-01-24 08:48] RvdHout commented on #176
How accurate it is (what does it look at)? It matches or not... that is the accuracy
Quite obviously for a rDNS/PTR check the way it works is to look if the incoming IP matches the IP reported by rDNS/PTR

[2022-01-26 15:53] RvdHout commented on #408
@OutbackMatt

As it seem you had a double index on the same table property this is considered solved, not?
Please close...

[2022-01-26 21:49] #408 closed

[2022-01-27 01:03] Neustradamus opened #417 "hMailServer future"
Dear @martinknafve,

I think it is needed to pin this issue :)

To link to the forum posts:
- https://www.hmailserver.com/forum/viewtopic.php?f=10&t=38161
- https://www.hmailserver.com/forum/viewtopic.php?f=8&t=38160

I am happy to have awakened the dormant project and allowed a revival.

Information to all, I am not a bot.

[2022-01-29 13:12] gotspatel commented on #401
If possible, can you please give an example usage of "oClient.SessionID"

and Thank you very much for oApp.Status.ThreadID

[2022-01-29 13:27] Neustradamus commented on #176
There is a PR (thanks to @RvdHout) but it has not been merged and this ticket has been already closed.

Not the good steps.

Unsolved ticket must not be closed.

[2022-01-29 14:33] martinknafve commented on #176
@Neustradamus Do you remember where I explained to you which issues are closed and why, and do you remember that I told you that I would ban you from this repo if you continued spamming your opinion of the opposite?

[2022-01-30 00:19] Neustradamus commented on #176
@martinknafve: Thanks for your reply.

I think that there is always a problem to understand, my original and always same goal is to have a future for hMailServer, not an ending.

Now, it must be given completely to the community.

hMailServer is an opensource project, the future is here with or without you.

It is for this that I have requested you to change the status of the website/forum, your p

[2022-01-30 01:34] martinknafve commented on #176
I am referring to your request to not close feature requests which has not been implemented. With your resoning, I should be able to add an issue to _all_ Github projects that they should make their application UI yellow and until they are yellow it should be considered a valid request which must not be closed. It is a bit mind-boggling crazy.

You need to understand that when I own the github rep

[2022-01-30 01:39] martinknafve commented on #176
People with entitlements like yours is a common reason people lose interest in open source development. You claim to have been actively following hMailServer for 2

[2022-01-30 01:43] martinknafve commented on #410
We have discussed this already. Please stop the spam.

[2022-01-30 01:43] #410 closed

[2022-01-30 01:44] #414 closed

[2022-01-30 09:45] martinknafve commented on #411
Not 100% sure I follow. When messages are downloaded from a POP3 server, `MessageUtilities::RetrieveOriginatingAddress` is used to determine the originating IP address by parsing the received headers. This function is also used when a message is accepted over SMTP, if the sending IP is listed as a forwarding relay. It sounds like while this function is supposed to return the originating IP address

[2022-01-31 10:19] helptiger opened #418 "Upgrade to #2586 DB Version 5702 failed on MariaDB (MySql)"
The upgrade to the newer version did not run without errors. The SQL changes were not entered in the MariaDB database. After 2 attempts I started the SQL script manually and then it worked.
So it has to be checked if this is generally the case with MySql. Previous version was #2585.

`"ERROR"	4300	"2022-01-31 10:58:28.231"	"Severity: 1 (Critical), Code: HM5011, Source: Application::OnDatabaseConne

[2022-01-31 10:25] OutbackMatt commented on #418
Same issue on MySQL

[2022-01-31 11:06] helptiger commented on #418
Please try the script without the spaces.

![Bildschirmfoto 2022-01-31 um 12 01](https://user-images.githubusercontent.com/10258902/151782740-e54959b0-b9ad-4efb-a018-13a33b58b376.jpg)

[2022-01-31 11:13] OutbackMatt commented on #418
OK did that, ran the DBUpdater, and then restarted the hMailserver  Windows service, and it all looks good

[2022-01-31 11:36] helptiger commented on #418
To be sure, you can still check if the two new entries are present in the hm_settings table. Otherwise changes to the new entries will not be saved. I also had it, that the version was changed to 5702, but the entries were not there. Therefore I came to the solution with the spaces.

[2022-01-31 11:41] OutbackMatt commented on #418
Yes, both new settings are in the database

The GUI included the new setting, and I've enabled it, and it is being logged under 'debug'

[2022-01-31 12:02] RvdHout commented on #418
Strange, the initial database creation script and all other update script include those spaces

[2022-01-31 12:23] helptiger commented on #418
@RvdHout
I also find it a bit confusing and inconsistent. Normally I always use a space after the comma.
In this case it only works without a space, why remains to be clarified.

btw -> Thanks for the new features!

[2022-01-31 13:09] RvdHout commented on #401
@gotspatel

I use it with some custom logging (LogWriter vbscript class by @SorenRR)

[code]

Example

[code]

[2022-01-31 16:09] helptiger commented on #418
For testing, I have once again reset the DB to version 5700. After requesting the hmailserver password, a window appears with the message "Upgrade path not found. Please contact support".An upgrade via dbupdater is not possible at the moment with MariaDB and probably MySql.

![Bildschirmfoto 2022-01-31 um 16 56](https://user-images.githubusercontent.com/10258902/151829406-b4c336cc-1062-418d-9457-c

[2022-01-31 18:40] RvdHout commented on #418
@helptiger

I found some missing instructions needed for the dbupdater to work correctly, should be fixed in next build

[2022-02-02 05:31] OutbackMatt commented on #176
FYI
This failed on my system (I've had quite a few failures which is great) = **score 1**

https://gwhois.org/103.250.212.7+dns
PRT = HELO

Also failed 'SpamTestHeloHost' **score 1**, and 'SpamTestDKIM' (error retrieving public key, no key for signature. Retrieval of public key failed) **Score =3** , but was whitelisted by my SpamAssassin **score -100**

**Total message score was -97**

It seems t

[2022-02-02 07:21] RvdHout commented on #176
Hey Matt,

I will look into it, but two you say 2 scoring option are over written?  1 + 3 - 100 = -96?
Looks more like 1 score is overwritten, not?
SpamAssassin score was exactly -100 or maybe might it be -100.5 so it is rounded to -101?

Not sure if it has anything to do with DNSBLChecksAfterMailFrom, to be honest i never used that option

[2022-02-02 08:21] RvdHout commented on #176
I quickly browsed through my spambox account, I can't say anything is off there with scores

[2022-02-02 14:38] OutbackMatt commented on #176
SpamTestPRT = 1
SpamTestHelo = 1
SpamTestDKIM = 3
SpamAssassin = -100 (Whitelist score of -100, then short circuit, so exactly -100)

[2022-02-02 14:43] RvdHout commented on #176
So it fair to say SpamTestPRT = 1 and SpamTestHelo = 1 scores are not maintained when using DNSBLChecksAfterMailFrom?

[2022-02-02 15:23] RvdHout commented on #176
I don't get it....are you only looking at the DEBUG log? You got 2 types of spam protections mechanisms, pre and post both reporting **their** total, but not **THE** total

**pre**

[code]

**post**

[code]

What do the message headers of such message say?
[code]

[2022-02-02 15:38] RvdHout commented on #176
Obvious you don't have the message headers added as it probably isn't marked as being spam

But taking my example above with your scores am i right to say it reads like this (not sure where SpamTestDNSBlackLists score is listed when DNSBLChecksAfterMailFrom is used)

**pre**

[code]

**post**

[code]

[2022-02-02 22:24] OutbackMatt commented on #176
My Spam Mark threshold is -500
EVERY message header is recorded (I also log all message header for all messages)
I'll send to you via the forum website

I'll test this.
Not even really sure WHY I enabled that

[2022-02-05 20:17] visualperception commented on #347
What I did as I like to sort by date all over the place is to change my windows date format to display date as yyyy-mm-dd
Go to windows Settings/time and language/region/change data formats
In there you can change the way dates are displayed. To me it makes much more sense to display dates as yyyy-mm-dd and that way throughout windows you can sort on date and have the lists display in date order.

[2022-02-08 23:56] LordDragonus opened #420 "ClamAV via TCP is not working after Update to 0.104"
If using ClamAV via TCP with version 0.104 or higher, hMailServer shows Message Box with „UNKNOWN COMMAND“.

This is because hMailServer is using the command "STREAM" as shown here https://github.com/hmailserver/hmailserver/blob/master/hmailserver/source/Server/Common/AntiVirus/ClamAVVirusScanner.cpp#L64
It was deprecated and has been deleted now. The right command should be "INSTREAM" now, as sho

[2022-02-09 08:04] RvdHout commented on #420
Hello @LordDragonus

When was this deprecated? With version 0.103.x?
The change should be fairly easy, but what to do with backward compatibility? Not everyone is (able to) use/using the latest version of ClamAV, many of us are still on 0.103.x or even older versions

[2022-02-09 16:53] RvdHout commented on #420
I did some test, i can send the data to clamav using a single socket connection and inquiry the INSTREAM command but have trouble receiving data back using SynchronousConnection::ReadUntil(const AnsiString &delimiter, AnsiString &readData)

Not sure what i am missing here...

[2022-02-11 13:26] SorenRR commented on #420
@RvdH you wrote earlier that you could send size and data but not receive reply... Well, I have trouble converting to 4 byte big endian (probably b.c. I haven't "broken the code yet") BUT... In 5.6.8 I made these changes and I DO read the reply from ClamAV...  Join forces?

https://github.com/SorenRR/hmailserver/commit/4deff1500c3f1f10273b570185e06c172bb97e24

[2022-02-11 16:35] RvdHout commented on #420
@SorenRR

I think you/we are completely on the wrong track, build a example project using the C# code posted at the forums and see the obvious difference with what we are doing

[code]

[2022-02-11 18:05] RvdHout commented on #420
Thats explains the method, don't forget we are writing char arrays and not bytes, so eventually a complete rewrite is needed

[2022-02-11 19:00] RvdHout commented on #420
chunksize = 22

[code]

[2022-02-11 20:33] SorenRR commented on #420
(https://github.com/SorenRR/hmailserver/commit/4a25bbbf29f2da0ed002f9de66888c72d8f5420e)

I still have a problem getting the right size of the chunk...

`"DEBUG"	2956	"2022-02-11 21:25:11.415"	"Connecting to ClamAV virus scanner..."
"DEBUG"	2956	"2022-02-11 21:25:11.415"	"Send the INSTREAM command."
"DEBUG"	2956	"2022-02-11 21:25:11.415"	"p #1) Send <length>(big endian, 4 bytes )"
"DEBUG"	2956	"20

[2022-02-11 22:47] SorenRR commented on #420
Bloody hell... It works ;-)

Seems the size issue is only with the test function ?!?

`"DEBUG"	3844	"2022-02-11 23:42:27.432"	"Connecting to ClamAV virus scanner..."
"DEBUG"	3844	"2022-02-11 23:42:27.432"	"Send the INSTREAM command."
"DEBUG"	3844	"2022-02-11 23:42:27.432"	"(loop #1) Send <length>(big endian, 4 bytes) 4096"
"DEBUG"	3844	"2022-02-11 23:42:27.432"	"(loop #1) Send the chunk of data co

[2022-02-11 23:09] SorenRR commented on #420
Ok, I'm done spamming this issue... ;-)

`"DEBUG"	3844	"2022-02-12 00:07:07.080"	"Connecting to ClamAV virus scanner..."
"DEBUG"	3844	"2022-02-12 00:07:07.082"	"Send the INSTREAM command."
"DEBUG"	3844	"2022-02-12 00:07:07.083"	"(loop #1) Send <length>(big endian, 4 bytes) 1834"
"DEBUG"	3844	"2022-02-12 00:07:07.083"	"(loop #1) Send the chunk of data corresponding to the above length"
"DEBUG"	3844

[2022-02-11 23:52] RvdHout commented on #420
Got it working? Bit hard to read to log entries above... looks promising 👍

[2022-02-12 11:12] RvdHout commented on #420
@SorenRR
Got a issue with pBuf->GetSize() not being a int on 64-bit but size_t, so i cast it
`unsigned int sizeValue = htonl(static_cast<unsigned int>(pBuf->GetSize()));`

Got it working as well, slightly different approach though, still using htonl

[code]

[2022-02-12 15:03] RvdHout commented on #420
How would you overflow a fixed chunk size with a maximum length of 4096?

You believe in the union myth? Read the comments under this post
https://stackoverflow.com/a/14873864

Don't get me wrong i really don't know what is best approach

[2022-02-12 17:01] SorenRR commented on #420
Dunno... If I read stuff correctly this memcpy and union stuff is about reading the same bit of memory with different glasses (so to speak) so if I do this

`      union
      {
         std::uint32_t integer;
         unsigned char byte[4];
      } foo;`

should it not allocate 4 bytes either way?

[2022-02-13 10:14] jimimaseye commented on #306
As it is alpha i would suggest changing it back to 5.6 style.  People upgrade software 'as provided' and assume that it will not break anything in their existing installation.  Also many users don't *really" know what they have in their scripts as often they are copy pasted by suggestion of forum users.

So unless there is real benefit and a must to avoid existing or unavoidable problems I would s

[2022-02-13 21:48] caugner opened #421 "Unable to send email after Windows Server 2016 update KB5010359"
We installed the monthly Windows updates (KB5010359) on our Windows Server 2016 running hMailServer, and afterwards our web application was no longer able to send emails through hMailServer. Reverting that Windows updates resolved the issue.

The German info page for that update mentions a known problem with regard to apps using the Microsoft .NET Framework: https://support.microsoft.com/de-de/top

[2022-02-14 16:16] SorenRR commented on #421
DOTNET 2.0 is a minimum requirement due to support for Windows 2000.
I have successfully used hMailServer on my development station (Win10) and my test/backup server (Win2019) with only DOTNET 4.x installed.

[2022-02-14 18:12] #421 closed

[2022-02-28 22:33] chmichael opened #422 "REQ: SEARCH HEADER Message-Id database support"
Hello,
  emClient is using SEARCH HEADER Message-Id when you move the messages from folder to folder.
  Due the fact the everytime hMailServer is loading the eml to get the "Message-Id" this process is slow!
  Return from a database indexed field would be instant!

Forum:
https://www.hmailserver.com/forum/viewtopic.php?f=7&t=38426

Thank you

[2022-03-14 11:21] VictoriousRaptor opened #423 "An small issue of guide page Display Language"
On page [Display Language](https://www.hmailserver.com/documentation/latest/?page=howto_set_language) you should mention that language.ini should be in UTF8 with BOM encoding.

[2022-03-14 11:35] Seni1ix opened #424 "Feature request: IMAP move extension"
Would if be possible to enhance the IMAP Protocol With the Move extension:

https://www.ietf.org/archive/id/draft-krecicki-imap-move-00.html

I have to move a large amount of mails around.
and se that there is a IMAP Move extension that would have greatly speed up and improved efficiency.

can this be implemented?
ref: https://www.hmailserver.com/forum/viewtopic.php?f=2&t=38413

[2022-03-15 18:40] martinknafve opened #425 "Upgrade to OpenSSL 1.1.1n"
Released 2022-03-15

[2022-03-15 21:15] martinknafve commented on #424
Sorry, no such features will be added to hMailServer, due to lack of time.

(If someone wants to implement it they are free to do so and submit a pull request - if that arrives I'll consider reopening this)

[2022-03-15 21:15] #424 closed

[2022-03-15 21:15] martinknafve commented on #423
This won't be addressed. hMailServer is basically in maintenance mode now unless something changes. Only critical fixes will be made unless someone else can take over development of it.

[2022-03-15 21:15] #423 closed

[2022-03-15 21:16] martinknafve commented on #422
Sorry, no such features will be added to hMailServer, due to lack of time.

(If someone wants to implement it they are free to do so and submit a pull request - if that arrives I'll consider reopening this)

[2022-03-15 21:16] #422 closed

[2022-03-15 21:20] martinknafve commented on #418
This fix is now included in the latest 5.7.0 build.

[2022-03-15 21:20] #418 closed

[2022-03-16 10:57] chmichael opened #426 "x64 build"
Hello,
  I've been using the x64 build of Dravion without any problems. (https://github.com/Dravion/hmailserver)
  So i don't see any reason not to create an official one for x64 5.6 build and not to wait when 5.7 will be ready!

Also the Dravion x64 is faster!

Thank you

[2022-03-16 11:03] RvdHout commented on #426
Simply stick with Dravion's build then?
Doubt it is faster, as you can see in the release notes **absolutely nothing** is changed but yet you where stupid enough to install it

[2022-03-16 22:02] chmichael commented on #426
Dravion release is just the official release with a couple libraries updated and compiled 64 bit.

I wonder what's your issue doing the same build on the official release or you think changing compiler to compile for 64-bit will break things ? (which it will not) Is it so hard to spend 5 seconds to change the compiler settings ?

The cpu usage is lower compared to the office x86 so it's faster.

I

[2022-03-16 22:57] RvdHout commented on #426
`*The Code for LTS build are taken from official hMailServer Github Repo, not Dravion/hmailserver repo!`
Maybe learn to read... fact is his code is not available, so there is no change this is merged easily into 5.6.x

So he updated some libraries, kudos to him....he proved he can repack a installer!!!
FYI it is actually OpenSSL 1.1.1m, OpenSSL 1.1.1n is only available for 1 day
Does updating inno

[2022-03-17 01:55] chmichael commented on #426
First of all you're agressive and i don't know why!

Did you compile his code or you put this statement out of your head ? (i can be agreesive and impolite too)
Anybody can do what Dravion did and more if you have the time! It's open source!

Newer versions of libraries and software support newer operating systems, fix bugs, improve perfomance and add new things that you might want to use them or

[2022-03-17 07:25] RvdHout commented on #426
If x64 support is the main issue for you, just use 5.7.x.... many of us do that (either as test but also some in production)
Boost 1.78.00 may contain fixes and improvements, but why break something that simply works and has none known vulnerabilities?

Fact is we have no idea what he put in the source code, his github repository does not contain a branch that represents the changes he claims he c

[2022-03-17 09:56] chmichael commented on #426
I did but the i had to revert back to 5.6.x due this issue: https://github.com/hmailserver/hmailserver/issues/404

I don't know if it will break something that why you have test builds to give a try!
Usually when the libraries contain breaking changes they write it on their release notes.

Ok! i'll find some time to compile his source code in order to verify it ok ?

Thanks! I'll take a look!

Tha

[2022-03-17 10:17] RvdHout commented on #426
Do whatever you want, building your own or use a trustworthy source (5.7.x) with a decent userbase is always better then just download and install a version that claims to be working.

It is very easy to verify compare/branches against the original repository, hence therefor my claim there is no source available for the Dravion build 5.6.8 x86 or x64 holding the changes as advertised in the change

[2022-03-17 15:08] chmichael commented on #426
Hello,
1) Download Dravion 5.6.8 source.zip from github
2) Download Boost 1.72
3) Download OpenSSL 1.1.1n
4) Applied changes to Boost 1.72 in otder to work with VS 2022 - https://github.com/boostorg/build/issues/735
5) Builded Boost
6) Builded OpenSSL
7) Compiled 64 bit target

HmailServer 64-bit with Boost 1.72 compiled with VS 2022 Done!

ps:
the only error i got was the below which i commented:

[2022-03-17 15:35] RvdHout commented on #426
Feel free to keep replying, but i'm done with this BS

[2022-03-17 16:04] chmichael commented on #426
@martinknafve seems ot be active again!

As i noted in my earlier post it has a major bug that prevent me for using it -> https://github.com/hmailserver/hmailserver/issues/404

Thank you

[2022-03-17 16:10] RvdHout commented on #426
He is not active again, what gave you that idea?
you clearly did not read his forum announcement if you think a OpenSSL security fix is him being active again

#404 doesn't give much details, and only you seem to have that issue.... i know many that run 5.7 (either in production or alongside 5.6 as test) including myself without having crashes on 5.7, could it be your config?

[2022-03-17 16:31] chmichael commented on #426
I just saw his recent commits i'll check the forum! Thanks!

The same config reverted back to 5.6.8 32-bit works without the service crash!
If you wish to provide you more details the issue is open!

Ok! Thank you for taking time to reply! :)

[2022-03-17 17:27] RvdHout commented on #426
Did you try the latest [5.7 build](https://build.hmailserver.com/repository/download/HMailServer_BuildHMailServer57/1314:id/hMailServer-5.7.0-B2590-x64.exe)?
**Note:** You have to use x64 build for libmysql.dll for this, and any other 32-bit component you might be using within your scripts (if any) Once again, no one else is having problems with 5.7 so it must be something on your end!

But finall

[2022-03-17 18:09] chmichael commented on #426
Nope, the last 5.7 i used and had crashing was 2582. I only see Anti-spam fixes up to 2590 build!

How can it be at my end ? I've used it (5.7.2582 - connected to MySQL DB) on a production Windows 2016 Server essentials and it was the only thing crashing! Reverting back to latest stable 32-bit bit the no more crashes! How do you explain that because i really trying to understand the cause of the c

[2022-03-17 18:36] RvdHout commented on #426
Uh, let me think....maybe because you are the only one having issues with it?

[2022-03-17 18:51] chmichael commented on #426
You're not helping!

https://downloads.mysql.com/archives/c-c/
(Latest 5.7.x compatible library they made before going to v8)

[2022-03-17 19:30] RvdHout commented on #426
Just saying it crashes without more info doesn't give me much to go by

I just tried 6.1.11 and it works as well, but usually i use libmysql.dll taken from MySql Community Server 5.7.36 zip package

[2022-03-17 20:36] chmichael commented on #426
What info you need ? It's running and suddenly stops creating a minidump!

[2022-03-18 07:52] RvdHout commented on #426
@chmichael

I would give 5.7 another shot, because after examining the Dravion sources i can only conclude his so called 5.6.8 (x64) release is nothing more then a build made from the 5.7.x source and being labeled as 5.6.x

[2022-03-18 08:34] RvdHout commented on #426
You could start with some logs (with complete logging turned on within HMS), and ERROR_hmailserver_*.log if any
You probably had these posted before martin cleaned up the #404 issue report.

Maybe better to use the forum if you still encounter a issue with 5.7.x, more people to assist there

[2022-03-19 04:11] chmichael commented on #426
I posted in the forum with no luck.
I'll give another try on the production server when i find some free time.

Thanks for the tips!

[2022-03-19 13:34] Dravion commented on #426
Don't try to reason with this person, it's a fruitless enterprise.

[2022-03-19 17:10] RvdHout commented on #426
[Dravion](https://github.com/Dravion), you completely are missing the point, your 5.6.8 LTS source code (eg: zip archive attached to the release page) is 5.7 ALPHA code, it is verified literally 100% identical

That has nothing to do with trying to smear your custom build, that is trying to get some clarity as without it your 5.6.8 LTS releases seems like nothing more then repacked and mislabeled

[2022-03-20 17:04] chmichael commented on #426
Well yes RvdHout is a bit agressive but we can't change a person can we ? :)

My wish is for the two of you to work together in order to improve this project and leave these kind of arguments!
I bet both of you are good persons! :)

As far Dravion build it seems RvdHout is right! Official 5.6.8 32 bit  build database version is "56xx" while Dravion build needs database version "5702". I guess he a

[2022-03-20 23:51] SorenRR commented on #426
Master is 5.7.x, it becomes obvious when you backtrack the timeline here https://github.com/hmailserver/hmailserver/network
It would seem that branch 5.7 (new) is merged with 5.6.5 into master on Dec 27, 2015. If I'm reading the timeline correct. 5.6.x is on that date isolated into it's own branch.

[2022-03-21 03:44] Dravion commented on #426
Master is since March 15, 2022  5.6.9 - at least this is what the git branches are showing.
Could be possible that he cloned the 5,7 branch into 5.6x bc the Github Branch 5.7.x is stalled.
Also all recent Downloads from hMailServer Download page are .5.6.x as well.

[2022-03-21 10:33] SorenRR commented on #426
Hmm... Not sure I follow your logic. Branch management in GitHub can be quite a challenge.

Branch **5.6.9**; Constants.h line 132: #define REQUIRED_DB_VERSION 5601
[Constants.h](https://github.com/hmailserver/hmailserver/blob/5.6.9/hmailserver/source/Server/Common/Application/Constants.h#L132)
[FormMain.cs](https://github.com/hmailserver/hmailserver/blob/5.6.9/hmailserver/source/Tools/DBUpdater/f

[2022-03-21 15:08] Dravion commented on #426
Yep.
Maybe Martin can clarify why be returned from 5.7.x to 5.6.x branch while the Database version is still marked as 5.7.x.
It causes at least a bit of confusion.

[2022-03-21 16:28] SorenRR commented on #426
![download](https://user-images.githubusercontent.com/8338115/159306054-2ce7094b-72bc-45c6-ad0a-47236511c7aa.jpg)

[2022-03-21 20:53] RvdHout commented on #426
@[Dravion](https://github.com/Dravion)

Last try, compare:
https://build.hmailserver.com/viewType.html?buildTypeId=HMailServer_BuildHMailServer56&tab=buildTypeChangeLog

with:
https://build.hmailserver.com/viewType.html?buildTypeId=HMailServer_BuildHMailServer57&tab=buildTypeChangeLog

If master branch is 5.6.x as you claim can you explain why is it lacking all the recent commits, eg: SpamTestPTR

[2022-03-22 12:17] martinknafve commented on #426
Hi guys. Sorry for the making it a bit nonintuitive guys. Let me try to clarify:

* Branch: master, Version: 5.7
* Branch: 5.6.9, Version:5.6.9
* Branch: 5.6.8, Version:5.6.8
* etc

I think this is a relatively common branching strategy (latest develop on master branch and then branch out when new releases are created). But of course there are many ways to do it and this is just one.

You can see

[2022-03-22 16:18] Dravion commented on #426
Hi Martin,
Thanks for reaching out to us and clarifying this a little bit.

Maybe it's just me, but i have little bit of a trouble understanding (some) parts, maybe you can help me with this.

For example:
The Github Branch 5.7 is (according to this status page https://github.com/hmailserver/hmailserver/branches/stale )
a staled Branch without any activity for over 6 Years.

But on the other Hand

[2022-03-22 16:41] RvdHout commented on #426
Geez, he literally just made clear 5.7 is the master branch, which is the active development branch and still you seem to argument that.

Yes there is an old leftover 5.7 branch, it originates from before 5.7 became the master branch but as you now know that is not the active development branch, FYI master branch is always active, unless archived. And you really told me to learn git?

[2022-03-22 17:55] Dravion commented on #426
Ok, this makes sense.
Maybe it's a good idea of deleting the old, staled 5.7 Branch to avoid any versioning misconceptions in the future.

[2022-03-22 18:04] RvdHout commented on #426
There is also a old x64 branch, but that one didn't seem to confuse you, so your logic isn't very logic so to say...
But yes, maybe it is a good idea to delete the stale branches for 5.7 and x64

[2022-03-22 22:20] chmichael commented on #426
Hey @martinknafve what's your though updating the boost libraries (1.7.8 now) and also make a 64-bit of the 5.6.9 Branch ?
I heard @RvdHout opinion i would like if you want to write yours too!

Thank you

[2022-03-22 22:24] RvdHout commented on #426
Sure be like [Dravion](https://github.com/Dravion) and just ignore everything i told you earlier, Martin reply nowadays is something like this:

[2022-03-22 22:43] SorenRR commented on #426
The only reason to update Boost to latest version is if there is support for OpenSSL 3.x. There is still no word on when that will happen.

If you want 64-bit go for 5.7. 5.7 contains 5.6.8 PLUS a lot of community additions/fixes. Several users here use it in production so perhaps we can move it out of ALPHA status to BETA status.

[2022-03-22 22:54] RvdHout commented on #426
Development, except for occasionally OpenSSL security updates are close to completely stopped for all 5.6.x branches, the only branch getting some updates, mainly through pull request are done in the active development branch (master branch, which is 5.7.x)

[2022-03-24 02:38] chmichael commented on #426
So i close this issue due 5.7 will have the 64-bit support as the main branch!

Thank you all guys! :)

[2022-03-24 02:38] #426 closed

[2022-03-24 07:59] RvdHout commented on #426
Exactly. If you where using 5.6.8 (x64) by Dravion with success and without crashes i really can not see why you shouldn't be able to use 5.7.0 (x64), now it's proven it is based on the same (source) code

[2022-03-24 09:42] Dravion commented on #426
Fake? I  followed Martins own Release naming method (he never Released a hMailServer a official Stable 5.7 64-Bit Release).
His releases are named as hMailServer **5.6.8** - Build 2574 and hMailServer **5.6.9** - Build 2587 (BETA) - I did the same: See: https://www.hmailserver.com/download

Also: Just a few days ago the Mystery why the old abandoned 5.7 Branch which is abandoned for 6 years now ha

[2022-04-18 19:08] tayler6000 opened #430 "Installer throws 404 error for .NET 2.0 Download"
This issue is related to #75.

The current latest installer throws an error when trying to  download the .NET 2.0 installer from Microsoft as it now throws a 404 error.  Undoubtedly due to the fact it reached end of extended support back in 2016.  Currently attempting to install .NET 3.5 (includes 2.0) from Windows Features which may work to satisfy the install.  As far as I could find, .NET 2.0 i

[2022-05-05 09:51] RvdHout commented on #425
03-May-2022 | OpenSSL 1.1.1o is now available, including bug and security fixes

https://www.openssl.org/news/secadv/20220503.txt

[2022-05-15 09:51] martinknafve commented on #425
I think 1.1.1o won't have any impact, right? The only fix I can see is:

prevent command injection.  This script is distributed by some operating
systems in a manner where it is automatically executed.  On such operating
systems, an attacker could execute arbitrary commands with the privileges
of the script.

But this script is not bundled with hMailServer.

(I don't mind upgrading of course (I of

[2022-06-08 18:44] howlettt opened #432 "Certificate expired but no errors"
The certificate we were using with hmailserver expired but we didn't get any errors reported in the logs, most emails just weren't sent and oddly a few still went through. All we saw in the logs is the following

[code]

[2022-06-22 06:19] RvdHout commented on #425
21-Jun-2022 | OpenSSL 1.1.1p is now available, including bug and security fixes

https://www.openssl.org/news/cl111.txt

[code]

[2022-07-16 11:14] martinknafve opened #434 "Upgrade to OpenSSL 1.1.1q"

[2022-07-20 13:20] martinknafve opened #435 "Remove collection of statistics"
hMailServer has logic to collect statistics. This statistics is no longer used, so the logic should be removed.

[2022-07-22 15:42] martinknafve commented on #432
Most email servers does not care about the validity of the certificate. You can configure your email server to use a certificate with invalid host name which expired in the 1980's and other servers will ignore it.

Note that the cert you configure in hMailServer is used for inbound traffic. The logs you posted shows that a handshake was performed and the sender then proceeded with sending the emai

[2022-07-22 15:42] #432 closed

[2022-07-22 17:23] martinknafve commented on #434
Fixed in 5.6.9 build 2602.

[2022-07-22 17:23] #434 closed

[2022-07-22 17:23] martinknafve commented on #425
Fixed in 5.6.9 build 2602.

[2022-07-22 17:23] #425 closed

[2022-07-22 22:53] RvdHout opened #436 "AUTH PLAIN exposes account password in log"
@martinknafve
AUTH PLAIN exposes account password in logfile in 5.6.x at least, and probably in 5.7 as well

[code]

https://log.damnation.org.uk/
https://www.hmailserver.com/forum/viewtopic.php?f=7&t=39121&p=240961#p240961

[2022-07-23 07:54] RvdHout commented on #436
@martinknafve
https://github.com/hmailserver/hmailserver/blob/master/hmailserver/source/Server/SMTP/SMTPConnection.cpp#L226-L265

Is it looking for and splitting/replacing the wrong char?

As in the example above it looks like the username is wrapped inside Unicode replacement character, then followed by the password
[code]

[2022-07-23 11:32] JensSpanier commented on #436
I don’t know if we should spread Fouche‘s credentials on more platforms. Maybe you can censor his credentials or use another example? I think it’s bad enough that they are visible in the forum.

[2022-07-23 11:36] RvdHout commented on #436
Agreed, example modified

[2022-07-24 04:08] OutbackMatt commented on #436
I've modified the forum entries too - please let me know if you can see them anywhere

[2022-07-26 21:29] RvdHout commented on #436
@martinknafve could this be a suitable solution?
https://www.hmailserver.com/forum/viewtopic.php?p=241092#p241092

[2022-07-26 21:41] RvdHout commented on #436
Another thingy...
https://datatracker.ietf.org/doc/html/rfc4954

In hmailserver you can repeat AUTH LOGIN or AUTH PLAIN commands after you successfully logged in

[2022-07-28 18:58] RobertCroteau opened #439 "Don't fail server SSL certificate if it doesn't have a Certificate Distribution Point (CDP)"
When verifying a server SSL certificate, if it doesn't have a CDP defined, the certificate verification will fail.

Error is:
"Certificate verification failed for session 5. Expected host: smtpauth.sg.lab, Windows error code: -2146885614, Windows error message: The revocation function was unable to check revocation for the certificate."

Windows error code: -2146885614   CRYPT_E_NO_REVOCATION_CHEC

[2022-08-09 08:25] RvdHout commented on #167
@martinknafve

I think i might have found the culprit causing this error,

TCPConnection::AsyncRead uses transfer_at_least(1), which expect at least 1 byte to be transferred but if no more bytes are transferred as there no more bytes in the (file)stream, this results in the mentioned boost::asio::error::eof (boost error code 2, which is not a winsock error as reported by HMS)

[2022-08-09 16:44] RvdHout commented on #167
@martinknafve
Some workarounds, that might fix this winsock error 2 issue with SA
https://www.hmailserver.com/forum/viewtopic.php?f=7&t=39288&p=241516#p241516

[2022-08-13 08:55] RvdHout commented on #167
@martinknafve

Same here, https://github.com/hmailserver/hmailserver/issues/195

There you claim it is not a bug, but it is....  taken that example

`
"DEBUG"	3560	"2017-01-17 11:54:01.446"	"Creating session 204"
"TCPIP"	3560	"2017-01-17 11:54:01.446"	"TCP - xxx.xxx.xxx.xxx connected to xxx.xxx.xxx.xxx:110."
"DEBUG"	3560	"2017-01-17 11:54:01.446"	"TCP connection started for session 197"
"POP3D"	35

[2022-08-13 09:58] RvdHout commented on #167
Maybe something like this?

[code]

[2022-08-13 12:45] RvdHout commented on #167
Damn, still getting error because SpamTestSpamAssassin::RunTest doesn't complete :(

`"ERROR"	1224	"2022-08-13 13:22:10.218"	"Severity: 2 (High), Code: HM5508, Source: SpamTestSpamAssassin::RunTest, Description: The SpamAssassin tests did not complete. Please confirm that the configuration (host name and port) is valid and that SpamAssassin is running."`

I know for sure i am near to the cause of

[2022-08-18 16:01] mstenz opened #442 "SPF Query Limit"
I have received this email for a mail server that is running hmailserver. it seems the spf query limit is not followed as per the RFC.

Please see full message here:

[2022-08-18 17:04] RvdHout commented on #442
What build?

[2022-08-18 17:12] RvdHout commented on #442
hmailserver uses RMSPF v1.10

In 1.12
- The maximum number of lookups is increased to 20. Before it was 10.

As we HMS uses 1.10 The maximum number of lookups is 10.

http://www.pamho.net/source/RMSPF112.TXT

[2022-08-18 23:02] RvdHout commented on #442
What is this disclosure mail they are referring too?

[2022-08-18 23:29] mstenz commented on #442
the other email I received earlier contains the same content as the email I provided as an extract.

[2022-08-18 23:41] RvdHout commented on #442
Two things i notice, RFC recommendations and MUST

Weird combination

[2022-08-19 01:25] RvdHout commented on #442
Not the brightest comment above, sure they can test  create a spf record x levels deep. If that dns record gets queried it doesn't fulfill to the 'recommendation'.
Still wondering how they know it's you and hmalserver though, do you host your own dns server?

[2022-08-19 01:51] RvdHout commented on #442
That 11 are dns lookups to get to a TXT record that eventually is queried  by RMSPF, eg: let say you get redirected through 10 cname records to come to the actual TXT record, really doubt they measure that and include that in their test result

[2022-08-19 06:55] SorenRR commented on #442
This is interesting... I have been using RMSPF 1.12 (with the 20 retries) since Feb. 28 2020 for my hMailServer code so that would mean someone either used my code or adapted their code to RMSPF 1.12. RMSPF 1.12 will need a slight rewrite from C to C++ for it to be used in hMailServer.

A way to identify my server code is that it is version >= 5.6 AND the reply to HELO/EHLO ==> DO NOT END IN "250

[2022-08-19 07:01] RvdHout commented on #442
Ignore the part I posted on DnsResolver.cpp, this TXT record lookup is only used for DKIM
SPF completely relies on RMSPF

[2022-08-19 07:03] RvdHout commented on #442
he says he used, 5.7.0-B2556 (x64) is that an official aplha build or some dravion crap?

[2022-08-19 07:14] SorenRR commented on #442
Official "master" is RMSPF 1.10 so who knows? I found Dravion's fork and it's using RMSPF 1.10 too.

Do we know which function violated the "10 lookup limit" ??

[2022-08-19 07:22] RvdHout commented on #442
We don't know anything, we only have a vague mail @mstenz received

FYI, i already warned you RMSPF 1.2 did not follow the rfc on that SPFMAXLOOKUPS value, can't find the post though

[2022-08-19 07:44] RvdHout commented on #442
https://www.pamho.net/source/RMSPF110.TXT

- The maximum number of includes and redirects is reduced from 20 to 10.
- SPFQuery() returns 'PermError' if the 'redirect' modifier appears more than
  once.

So in RMSPF v1.8 it was 20, in RMSPF v1.10 10 and in RMSPF v1.12 20 again?

[2022-08-19 08:26] RvdHout commented on #442
What is meant by a void lookup? I can't get that translated into something i understand

[2022-08-19 08:41] SorenRR commented on #442
https://powerdmarc.com/spf-void-lookups/

`What is an SPF Void Lookup?
When a DNS lookup returns a void or null response while performing an SPF authentication check, it is termed an SPF void lookup. Not to be confused with the 10 DNS lookup limit, SPF void lookups are a separate category of error response that you may come across while handling SPF, altogether.

Why does this happen you may ask?

[2022-08-19 08:53] RvdHout commented on #442
that RFC is a recommendation, even with 20 the result is capped, so a infinite number of SPF referrals won't lead to a DOS attack

[2022-08-19 09:46] mstenz commented on #442
Yes, I am running my own DNS server business. But how they have in fact tested this I don't know

Yes I will ask them how they tested this and hopefully receive more information. It can take some time to get a response maybe.

[2022-08-19 10:19] RvdHout commented on #442
@SorenRR, i am looking into RMSPF if it would be possible to return the amount of queries executed...not sure if that can be done

[2022-08-19 10:51] SorenRR commented on #442
If your SPF record is not "flat" this will list the number of queries [https://www.dmarcanalyzer.com/spf/checker/](https://www.dmarcanalyzer.com/spf/checker/)

[2022-08-19 10:54] RvdHout commented on #442
How is that helpful? We like to determine how many queries RMSPF executes, not some online checker....

[2022-08-19 10:58] mstenz commented on #442
I personally do not have any SPF records configured for myself

[2022-08-19 11:23] SorenRR commented on #442
When I check my own record that is using only ipv4's it is a "flat" record and needs no lookups. If you check

[https://www.dmarcanalyzer.com/spf/checker/?dmarcdns%5Btype%5D=spf&dmarcdns%5Bdomain%5D=rockridgencpc.com&g-recaptcha-response=03ANYolqs8DuXtBvkoortB7zs3DHTlHJvjt0A980JgSDpYRQN4Y5fOLUrVJZeErgAFt7WQ7WVsTq4NAYReHV7uzPqrUsE7j1LWtaI5NWb9ptVRck3_uEisNjTxfjWq7BTjbr2LI-ApmQOumJqsAQfkXcDvT5Mf5HCf

[2022-08-19 11:25] RvdHout commented on #442
This is for 5.6.x, but there is no difference between 5.7 and 5.6 so this is identical

https://github.com/hmailserver/hmailserver/blob/5.6.9/hmailserver/source/Server/SMTP/SPF/RMSPF.cpp#L137

https://github.com/hmailserver/hmailserver/blob/5.6.9/hmailserver/source/Server/SMTP/SPF/RMSPF.cpp#L2219-L2220

https://github.com/hmailserver/hmailserver/blob/5.6.9/hmailserver/source/Server/SMTP/SPF/RMSPF.

[2022-08-19 11:31] RvdHout commented on #442
@SorenRR , that mail is not about his SPF records, it is about his mailserver (milter) extensively querying spf (apparently) records

[2022-08-19 11:34] SorenRR commented on #442
According to the link above; microsoft.com and oracle.com are both 10/10. I still need to find a site that is a 10+ ;-)

[2022-08-19 11:35] RvdHout commented on #442
Ask:
Md. Ishtiaq Ashiq ([iashiq5@vt.edu](mailto:iashiq5@vt.edu))
Taejoong "Tijay" Chung ([tijay@vt.edu](mailto:tijay@vt.edu))

Apparently they have one ;)

[2022-08-19 11:36] SorenRR commented on #442
I guessed that much - it's like with your own phone number ... How often do you call yourself ;-)

[2022-08-19 12:01] RvdHout commented on #442
Ask them also why the interpreted a recommendation as requirement 😂

[2022-08-19 13:46] #411 closed

[2022-08-23 09:27] SorenRR commented on #442
Well, got a reply back from the students...

We have developed a website so that you can test whether your mail server is conforming to the SPF lookup limits.

https://spf.net-measurement.net/.

You can provide your email address here, allow us to send a test email, and queries that your server made for resolving the SPF record of the sender will be shown. Please find more details about the vulner

[2022-08-23 09:55] SorenRR commented on #442
Just a note... I changed my version of RMSPF.cpp to "#define SPFMAXLOOKUPS 10", have not seen any problems with it so far.

These guys claim I do 22 lookups (2 x 10) + 2 ... I presume it should be 10 + 2...

Then I tried my GMail account - 21 lookups ;-)

`DNS Queries
Here are the SPF DNS queries we received in response to the email from your server's associated recursive resolver.
We measured the

[2022-08-23 10:06] SorenRR commented on #442
dmarcian died when I tried to verify the SPF record ... Are there any alternative tools out there
![dmarcian](https://user-images.githubusercontent.com/8338115/186131772-8dc57bbe-8d01-456b-80d9-15257465e26a.jpg)
?

[2022-08-23 11:00] OutbackMatt commented on #442
I use  https://dkimvalidator.com/

[2022-08-23 11:01] RvdHout commented on #442
That is really weird, not?

[2022-08-23 11:09] RvdHout commented on #442
This is hotmail, 20;

[code]

[2022-08-23 11:16] RvdHout commented on #442
With 5.6.9 (RMSPF 1.10) i get 26 lookups...so that is nowhere near the 814 @mstenz had

[2022-08-23 11:16] OutbackMatt commented on #442
I got 36
(the xxx.xxx.xxx.xxx is one of my public IPs)
I expect that Spamassassin did lookups as well as hMailserver

2022-08-23 11:02:31.817727 172.253.247.33 5n17gwe.cjone.app TXT 0
2022-08-23 11:02:31.964138 xxx.xxx.xxx.xxx 5n17gwe.cjone.app TXT 0
2022-08-23 11:02:32.377356 172.253.247.36 __1.5n17gwe.cjone.app TXT 0
2022-08-23 11:02:32.941423 172.253.247.37 __1.__1.5n17gwe.cjone.app TXT 0
2022-

[2022-08-23 11:20] RvdHout commented on #442
Ah, that is very likely.

[2022-08-23 11:21] OutbackMatt commented on #442
I re-run SpamAssassin test on unread messages in all inboxes
I've found a few malware messages where originally the message passed but later failed as the various DNSBLs are updated (and the ClamAV SaneSecurity Phishing databases)

[2022-08-23 11:23] RvdHout commented on #442
Ah, i thought they were referring to the test @mstenz ran, eg: 814 queries where most happened 6 hours after the mail was send

[2022-08-23 11:24] SorenRR commented on #442
HA!

Switched off SpamAssassin and ClamA
![spf](https://user-images.githubusercontent.com/8338115/186146027-3353f30d-63e5-43fb-b51b-d39f139e89b1.jpg)
V

[2022-08-23 11:27] OutbackMatt commented on #442
I thought that was SorenR who got that reply
I was explaining why it could happen on my system

[2022-08-23 11:27] RvdHout commented on #442
ClamAV, please elaborate? Since when does ClamAV SPF checks?

[2022-08-23 11:29] SorenRR commented on #442
I switched it off because I could ;-)

[2022-08-23 11:33] RvdHout commented on #442
Turn of your server then, no worries at all about SPF queries :)

[2022-08-23 11:36] SorenRR commented on #442
I have sent them an email back describing why their test/project is flawed. One is a Professor and the other is a Ph.D student ... On a major IT university ... Really they should know better .

[2022-08-23 11:41] RvdHout commented on #442
But is it flawed? None of us got a notification, did we?
814 queries as in https://github.com/hmailserver/hmailserver/files/9401276/bzkhk5.txt is not normal, so no wonder their project flagged it

[2022-08-23 11:52] SorenRR commented on #442
Claiming my server did 22 lookups when it did not... hMailServer did 10 and SpamAssassin did 12.. I use a (actually two) NAT router(s) so everything here comes out as one ... Come to think of it ... I need to recheck which internet connection my DNS servers are using - I think I may have broken something the other day. hMail is using the DNS that uses 4G and SpamAssassin (backup hMail) is using th

[2022-08-23 11:55] RvdHout commented on #442
If both HMS and SA as on the same server, 22 queries is correct, not?

[2022-08-23 11:58] SorenRR commented on #442
different servers having different default gateways and DNS servers.

800+ lookups ... I would send out a warning note any time. <50 I would probably disregard.

[2022-08-23 12:00] RvdHout commented on #442
So you all of the sudden have complete insight on how their test/project works and functions? Well done....

[2022-08-23 12:00] SorenRR commented on #442
Actually ... I don't believe they are targeting IP addresses. Their FQDN seems to be unique for each query.

[2022-08-23 12:04] RvdHout commented on #442
Finally, now we are getting there...

[2022-08-23 12:09] SorenRR commented on #442
That still means they sum up hMailServer and SpamAssassin regardless they are coming from different IP's. No?

[2022-08-23 12:11] OutbackMatt commented on #442
I suspect that they are creating a unique code each time, eg
**5n17gwe.**cjone.app

[2022-08-23 12:12] RvdHout commented on #442
And rightly so, they both **DO** the sff lookup queries, not? They count the FQDN queried as you said earlier...

But what is your problem? Did you got a message you are vulnerable? If not, relax then you are clearly withing their limits

[2022-08-23 12:13] OutbackMatt commented on #442
I'm just joining the fun
I wouldn't care if I got such an email

[2022-08-23 12:15] RvdHout commented on #442
Well Matt, if a single mail queries 800+ spf records, something is wrong...but we now can conclude it is not HMS (or SA for that matter)

[2022-08-23 12:20] RvdHout commented on #442
FYI, i have these addition rules in my SA config, they might explain why i got 26 and not 20

[code]

[2022-08-23 12:23] SorenRR commented on #442
I took a peek at the attached textfile ... 814 lookups by 33 unique IP addresses. That's an average of 24 lookups per server.

[2022-08-23 12:25] RvdHout commented on #442
But he said he runs his own DNS server, not? Guess something is wrong in his DNS config

[2022-08-23 12:46] RvdHout commented on #442
[code]

[2022-08-23 13:36] mstenz commented on #442
hi guys, lot of comments now and I was afk for some hours. I need to check the comments and test the server with the URL given by this members.

yes I do. the email address that they have verified is the one from my dns service, but the mailserver itself (the mx records of the domain) in this special case ar running via a different dns server not in my responsibility. also the dns server cannot be

[2022-08-23 14:30] mstenz commented on #442
Ok.  I have checked further and the max. spf queries that results on my hms installation (that have SA running) is ~25-32, someone mentioned a number of 800 or so (this is not what I get on tests). Which means that the installation is safe enough against a hacking attack using SPF by just executing a query (at least when not using DDoS which is quite a different topic at all)

[2022-08-23 15:38] RvdHout commented on #442
@SorenRR to who that [file](https://github.com/hmailserver/hmailserver/files/9401276/bzkhk5.txt) belongs, or they just gave that as example?

[2022-08-23 15:52] SorenRR commented on #442
It was attached the reply I got from Mohammad Ishtiaq Ashiq Khan. The Ph.D student.

It could be it is related to "mail.cowmedia.de". Not sure who that is here but the person must be german. It appears it a hMailserver version 5.6 or newer.

[2022-08-23 15:54] RvdHout commented on #442
@mstenz, cowmedia.de is you?

[2022-08-23 15:58] SorenRR commented on #442
His name is on the www.... The email address that requested the test is support@geoscaling.com. It's all in the email I quoted earlier ... eh ... way back ... ;-)

[2022-08-23 16:05] RvdHout commented on #442
I think it leave here, we have concluded HMS has no issue, not?

[2022-08-23 16:07] SorenRR commented on #442
I can only guess that support@geoscaling.com is forwarding emails to 32 other servers and since the FQDN of the SPF record is the same they will ALL be included in the list...

[2022-08-23 18:09] RvdHout commented on #442
Your DNS provider needs some monitoring though, it is not exactly normal they, 6 hours after the mail is send, still query the SPF records

[2022-08-23 18:46] mstenz commented on #442
i don't think this is really done (which dns software would do this?) I think that may be a not correct report, probably a bug in the software or maybe someone manually debugging something or whatever. I would not digg into this as long it would be a repeatable issue which is doubt.

[2022-08-23 19:17] RvdHout commented on #442
But yet they mailed and warned you multiple, at least 2 times... that raises suspicion something might be wrong with their DNS, doesn't look like a isolated incident but I could be wrong

do with it whatever you want

[2022-08-23 21:06] OutbackMatt commented on #439
Isn't that the point of the verification check?

[2022-08-24 10:27] mstenz commented on #442
sure. i am sure i am not the only one and probably they would be warning everyone that is using HMS if they would testing you. Because my own services are very exposed and well known in the internet for sure to check them is a very valid task (like google or microsoft were tested by others in this communication as a testcase directly with the test tool).

the text file they have delivered cannot b

[2022-08-24 10:46] RvdHout commented on #442
that is because it is not a problem of HMS but your DNS provider... the report belongs to you, see details @SorenRR got when he received that report...

Or ignore simply ignore, FYI you only can close this issue

[2022-08-24 10:59] mstenz commented on #442
I also wrote to them but did not received any reply, probably becuase they already responded to @SorenRR

[2022-08-24 11:34] RvdHout commented on #442
@SorenRR
https://github.com/hmailserver/hmailserver/blob/master/hmailserver/source/Server/SMTP/SPF/RMSPF.cpp#L1061-L1067
A library from 2004, should that bug still exist in 2022?

Is that considered a void lookup?

[2022-08-24 15:44] SorenRR commented on #442
Well... Can you guarantee the bug is gone? :lol: I believe it's one of those things in the category "if it aint broke - don't fix it" ...

[2022-08-24 16:38] Ashiq5 commented on #442
Hello all,
Thanks for this discussion thread about this issue. We don't think our test is flawed given that all we need to do is 1) send one email from a sender domain that has some number of SPF referrals, and 2) log the incoming DNS queries for SPF resolution. We obviously maintain a unique identifier to detect the recipient mail server.

Yes, the interpretation of the test result can have some

[2022-08-24 16:54] RvdHout commented on #442
Hello @Ashiq5,

Most of us, and certainly everybody in this discussion is running hMailServer **and** SpamAsssassin, and both have options to do SPF checks independently of each other, this seems a bit like example you mentioned (eg: Postfix with policyd-spf for SPF validation and also set up iRedAPD)

With SpamAssassin tuned off @SorenRR had a result more to you likening i think, eg: https://gith

[2022-08-24 18:01] mstenz commented on #442
Thanks @Ashiq5 for participating here

this specfic email Adresse (with hmailserver behind) is a normal mailbox without any forward. When I use the testtool i have tried it more than 5 times it maxes with ~32 requests. What me wonder is that in the textfile you shared were 6 hours later you recorded any queries, this is all from a different IP address as usual (not mine), and one is even from goog

[2022-08-25 01:20] Ashiq5 commented on #442
Well, I guess the initial 30-40 requests should have some similarity. Requests that came 6 hours later, we are not sure why they are coming, who are doing them. That's why we figured, you guys might help us in debugging what might have happened.

I suppose when you are talking about our test website requests, you only saw immediate ones. But as you understand our logger keeps logging 24*7, and we

[2022-08-25 01:26] Ashiq5 commented on #442
@RvdHout, Could you specify how many queries you got in your later case?

Anyways, we will set up hMailServer and SpamAsssassin ourselves in an internal setting to try to find out what's causing this distinction.

But as you understand, we are not experts in MTA configuration. So, if any of you can help with any ideas, we would really appreciate it.

[2022-08-25 11:36] RvdHout commented on #442
@Ashiq5

I ran 1 test on my home setup on Tuesday, ue8gc7f.cjone.app (this was with SpamAssassin enabled)
And another one Wednesday, 7v4jbt5.cjone.app (this was with SpamAssassin disabled)

To be honest i don't really remember the exact amount of lookups, the second one was 40+.
My home setup uses both IPv4 and IPv6 connectivity with a local bind9 dns server instance as a forwarding/caching server

[2022-08-25 11:37] mstenz commented on #442
@ashiq5

yes, it would be great if you get more logging on the query and update us/me

my mailserver is mail.cowmedia.de but maybe this are the ones from others in this conversation, which is fine then.

I do not have any SPF record on my domain.

[2022-08-25 14:10] Ashiq5 commented on #442
[code]
@RvdHout, the query comes after sending the email. So, we need to send another email to send the test result. We keep some logs to track unique IDs for a certain MX server and obviously keep the DNS records as well. But this is a nice idea. Will think about how we can share it with users effectively so that they can view them later.

[2022-08-27 10:33] RvdHout commented on #442
Interesting find, SpamAssassin uses 20 lookups

eg: https://svn.apache.org/viewvc/spamassassin/branches/3.4/lib/Mail/SpamAssassin/Plugin/SPF.pm?view=markup&pathrev=1676787#l509

[2022-08-27 13:44] RvdHout commented on #442
Not entirely happy with how easily Kevin A. McGrail (KAM) ignored that particular rfc back then (eg: in 2015!) and simply hardcoded that new value, should have made been a customizable variable, so you could choose to ignore or fulfill to the rfc... even ebay.com for example have since fixed their SPF record

[2022-08-31 13:31] RobertCroteau commented on #439
If you use a local CA to sign certs, that CA may not have a CDP.  The question is not whether there should be one in the local CA but if there's some workaround to that error, if not, could one be added.  We came upon that situation in our testing and we're trying to prevent the issue upstream in our solution if any our customer use certs that are signed by a local CA of theirs that has no CDP. (I

[2022-08-31 14:10] RvdHout commented on #439
Turn off certificate verification 😏

[2022-08-31 23:40] OutbackMatt commented on #439
When do you expect that a customer use certificate will be used (let alone a self signed one)?

[2022-09-01 16:58] ALSULTAN opened #443 "Show First Name And Last Name"
When sending mails within the same domain the first and last names not shows on the email the same way microsoft exchange does. it is just showing the email account. it would be very good to show the name of the sender instead of his email address.

[2022-09-01 17:52] RvdHout commented on #443
What?

There isn't even a option to enter or store first and lastname, this is courtesy of the email client and has nothing to do with a mailserver

[2022-09-01 17:57] ALSULTAN commented on #443
first and lastname are stored on hmail server database, so how is that being `courtesy`

[2022-09-01 18:04] RvdHout commented on #443
Ah, now i see...in the advanced tab, in all honesty i never seen that before of filled that in and i have been using hMailServer for years, makes no sense either as this can be set by client (and normally is)

[2022-09-06 16:03] RvdHout commented on #443
I have to come back slightly to this i think, these values can be used as macros in the signature, see:
https://github.com/hmailserver/hmailserver/pull/256/commits/05d91e7eadde77529fd78fe65388d1393ef2e2f1

[2022-09-09 09:19] RvdHout commented on #443
@OutbackMatt

Maybe change that in the documentation, [hMailServer does not use this information](https://www.hmailserver.com/documentation/latest/?page=reference_account), except for signature macros

[2022-09-12 20:53] OutbackMatt commented on #443
Done

[2022-09-15 09:15] zFerry98 opened #445 "[Bug] Backup fails if the folder to be compressed is not deleted (from the previous backup) + An error is thrown which completely blocks the backup function"
I had changed some configurations on the internet IP range (I required smtp auth for those who send emails to me🤷‍♂️), which is why I found myself sifting through all the software to find them (folders included) and I discover that I had left the debug active and the beauty of 144gb of Logs! (that are not included in the backup but despite this, they are counted in the warning inside the backup lo

[2022-09-15 09:24] mstenz commented on #445
To me backups also constantly failing. (at leat once a month). There are different reasons for this. For example when emails get deleted while they are backed up. This happens fore sure more frequently in a high volume/users environment.

[2022-09-15 09:30] zFerry98 commented on #445
In my case we are a few people and all in the same country, so I start the planning at 4 am (for 30mb it takes 10 seconds).
I was opting for a more elaborate and "manual" solution.
The problem is that damn Database ... whether it is MySQL or PostGreeSQL, they are not locked and backed up by external tools if you do not first stop the software that accesses them (hMailS).

[2022-09-15 10:04] RvdHout commented on #445
Mmm, not sure everything/anything what is said here is entirely true

1. logs are **not** included in the backup
2. backups take a long time to complete, OK it lacks a progress indicator or something but most likely you interfered the backup progress before it completed

[2022-09-15 10:10] zFerry98 commented on #445
Maybe they are not included in 7z but in the log it tells you that you have exceeded 1.5gb recommended (the only folder that exceeds 1gb were the 144gb logs). By removing the only folder that exceeded 1gb (logs), the warning in the log that I had over 1.5gb of Data disappeared (as you can see from the logs I posted to create the issue).
Anyway thanks, I correct above

[2022-09-15 10:18] RvdHout commented on #445
What version are you using?
I think that is just a warning, not?
I never seen the exceeded 1.5gb recommended warning....but i am using a [custom build](https://www.hmailserver.com/forum/viewtopic.php?p=241830#p241830) that doesn't have this limitation

[2022-09-15 10:27] zFerry98 commented on #445
5.6.9-B2602
![image](https://user-images.githubusercontent.com/17975351/190380682-5ed2cc7e-afcb-4288-8ce1-77ee7bcf54c8.png)

Now I go to un7zip these 144gb compressed into 9gb and see if I can pull out the exact line (hoping it wasn't in the logs after the archive, because those have been removed)

[2022-09-15 10:34] RvdHout commented on #445
hmailserver_backup.log using the custom build i referred to earlier (backup took little less then an hour, backup size=~14GB )

[code]

[2022-09-15 10:34] zFerry98 commented on #445
![image](https://user-images.githubusercontent.com/17975351/190382421-5d6e542f-7c26-47f9-a178-12ae51fa76a9.png)

[2022-09-15 10:36] RvdHout commented on #445
It says /Data directory, last time i checked the log files are not in the /Data directory but in /Logs

[2022-09-15 10:40] zFerry98 commented on #445
![image](https://user-images.githubusercontent.com/17975351/190383091-625cda0b-8698-4d43-b45f-9030b09fc80f.png)
I doubt it reaches 100mbs ...
And as I said above, after removing all the logs (that screen is just I had finished 7z after 7 hours). The Warn from the logs is gone.

[2022-09-15 10:46] zFerry98 commented on #445
I say it again:
The backup starts a function that controls the size of the so-called "DATA" directory ... In its magical function, it counts the 144gb Logs folder BUT (as you said, I also confirm now) IT IS NOT added to the final backup (which includes the Data folder and the .xml of the server).
Where does Warn come from if the Data folder is 30mb? and all other folders EXCEPT "Logs" are also und

[2022-09-15 10:46] RvdHout commented on #445
https://github.com/hmailserver/hmailserver/commit/93663addca13ae77b464112538bfdc56e8ffab87

As you can see in above changes where to limitations where removed, It took the size of all messages, sorry to disappoint you, but it really ain't the logs

[2022-09-15 10:51] zFerry98 commented on #445
Now we understand each other!
And how do you explain to me that after deleting the Logs folder the warn is gone? (since the data folder and emails I have not touched and they are all still there).

I'm not trying to offend but you DEV's assume that everyone knows how to program and read the code of everything in the world ...

I use the software as an external and report the issue with as many det

[2022-09-15 10:58] RvdHout commented on #445
You can become mad, but i just proven to you the log files are not included in this count!

[2022-09-15 11:06] zFerry98 commented on #445
I'm mad Yes!

Why do you keep blaming me for saying falsehood!
And I repeat to you:
I AM NOT A PROGRAMMER (because I would not even open the issue, I would make a pull request with the fix), I EXPLAINED WHAT I HAVE DONE and the answer is right and I tell you: "ok, thanks", but don't give me a fake!
Because of internal software problems in the code THAT ARE NOT MENTIONED IN THE DOCUMENTATION ... WH

[2022-09-15 11:12] RvdHout commented on #445
The backup did not crash, you interrupted it because you saw a WARNING!!! **(Warning != Error)**

I just stating the facts here, the log files directory is not included in the backup, the total size of the backup is calculated by the sum of the mailboxsize column of the hm_messages database table

[2022-09-15 11:29] zFerry98 commented on #445
The answer in a serious context was:
Ah! sorry, it seems that in OUR software message lengths are counted as well as file size (or whatever).
The question related to the logs is unexpected, can you give us more details on what you did and how?

![image](https://user-images.githubusercontent.com/17975351/190389551-93caa386-a637-4126-9b2d-f81dab8fbf31.png)
![image](https://user-images.githubusercont

[2022-09-15 11:32] #445 closed

[2022-09-15 11:34] RvdHout commented on #445
Well spoken, I am really, really impressed....NOT!

[2022-09-15 11:45] zFerry98 commented on #445
When you are no longer able to challenge the truth in the face, always change the subject!
I keep giving facts and saying that I did NOT close the software during the backup!
You keep talking bullshit and agreeing with yourself!

Maybe I have to repeat for the 6th time with the insults, so you understand ... (then I get punished, because reading and understanding who is right is out of the reach o

[2022-09-15 11:52] RvdHout commented on #445
Keep crying... simply loving it 😂

If you think you can use such tone to someone who only is trying to show (and prove) you the problem wasn't the log files you are wrong big time, and you dare to say something on the words i chosen to try explain bits and pieces....

get lost!

[2022-09-15 12:21] zFerry98 commented on #445
I think you have not understood anything as usual ...
If you just minimally thought I was "crying".

I solved the problem before opening the issue: because unlike you I am what YOU call crying because the software you write doesn't work and you blame others instead of re-reading your crap code.
The simplest example are the morons who don't know anything about SSL / TLS and blame that the certifica

[2022-09-15 12:23] RvdHout commented on #445
🖕

[2022-09-15 12:27] zFerry98 commented on #445
And here we return to (https://github.com/hmailserver/hmailserver/issues/445#issuecomment-1247999293) where those who give the truth in the face can not help but change the subject.

[2022-09-15 12:37] RvdHout commented on #445
You must be a retard, so sorry everything i tried to explain clearly made no sense, i apologize for that...
The only one here not accepting the truth and facts is you, i only tried to point that out to you and all i got back are insults and explicit language, poor you.

I don't have to give you all the answers, hence i am not even the developer of this software and am just like you a end-user

[2022-09-15 12:39] RvdHout commented on #445
I already referred to that code didn't I? The fact you didn't bother to look at anything i wrote doesn't make you right....clown!

[2022-09-15 12:54] zFerry98 commented on #445
now without a fucking excuse, I'm going to solve another big problem... sending the SIGINT signal to a CMD (stuff too advanced for a weak mind like yours).

You're tough ...
What you explained is to state that in the .cpp there is no trace of the logs folder...
The bugs are such because they lead to unexpected events such as "THE FUCKING OF LOGS FOLDER IS IN SOME WAY COUNTED IN THE SUM".

It makes

[2022-09-15 12:59] RvdHout commented on #445
Bye, bye....i am done with this bullshit, go and harass someone else,

[2022-09-15 13:11] RvdHout commented on #445
End-user of the given software....damn, was that so hard to understand?  Who's the big fool now?
You must be so simple minded you no longer are worth my time...

[2022-09-15 13:38] mstenz commented on #445
unbelievable...the source of the problem (there is one in backup system) is not solved then. If i have time probably I will ad another issue to work on it. hms stores when the backup is started, but when it fails (for whatever reason) the status cannot be reset (only by restarting the service). I think this issue should be closed. I don't want really participate in such type of offended wordings d

[2022-09-15 14:08] RvdHout commented on #445
You are aware you where the one starting the insults and use of explicit language? FYI: I have reported you to github

[2022-09-16 04:21] OutbackMatt commented on #445
In my server, ~ 15 domains, ~120 accounts, some 2500 messages per day, I log debug every day.
I don't log IMAP, but log everything else.
Also, I write a LOT of custom logs, logs by port, logs by domain, a copy of all message headers for accepted messages and much much more.

I zip my logs each month via script, and I have daily logs going back until December 2011 (Yes, nearly 11 years)

My log fol

[2022-09-16 04:33] OutbackMatt opened #446 "Backup issue"
If the software crashes while making a backup, you can no longer perform further backups until you remove the file \hMailServer\Logs\hmailserver_backup.log

It seems that this file is removed during a restart of the hMailserver service.

A possible workaround is to use the built in event 'OnBackupFailed' to remove that file when being triggered, but this will only work if the backup doesn't trigge

[2022-09-16 12:25] RvdHout commented on #445
You must feel very proud of yourself...

I only tried to proof it wasn't the log files that was the reason the backup failed and all i got in return was a big rant about who knows what using explicit language, I'll rest my case, I am done with you and your little problem or bug as you call it!

[2022-09-16 23:53] RvdHout commented on #446
As far as i know hmailserver_backup.log is not removed, what gave you that idea?

I just checked my hmailserver_backup.log (i remember i cleared that recently, but it holds 2 months)

[code]

[2022-09-17 07:26] OutbackMatt commented on #446
Oh, you are correct

I delete mine during the OnBackupCompleted event

What stops another backup from starting?
Is it that the last entry in the logs isn't "	Backup completed successfully"?

[2022-09-17 08:38] RvdHout commented on #446
In 'another' issue it was said the existence of the \DataBackup directory is the reason to not start another backup (FYI, which i think is deliberate, as the backup might still be in progress)

[2022-09-17 09:29] mstenz commented on #446
This is the reason: https://github.com/hmailserver/hmailserver/blob/74833dc91d83caf44071c68b89236e74dc1b747c/hmailserver/source/Server/Common/Application/BackupManager.cpp#L52
There is an internal variable saved when Backup is started. When Backup crashes this variable is still set and another Backup can only be executed when restarting the service (which sets the Variable to false again). Because

[2022-09-17 09:46] RvdHout commented on #446
The existence of the \DataBackup doesn't matter either? Please try to be as complete as possible in your answers

[2022-09-17 10:11] mstenz commented on #446
I do not see anything about a DataBackup folder in the code. I just provided my experience, this doesn't mean the answer is complete or contains all aspects of it.

[2022-09-17 10:14] mstenz commented on #446
This is the script I use to fix the backup issue:

`@ECHO OFF
del /s /q /f "C:\_DATA\hMailServer\Logs\hmailserver_backup.log"

net stop hmailserver
net start hmailserver

del /s /q /f "C:\_DATA\hMailServer\Backup\backup.check"
del /s /q /f "C:\_DATA\hMailServer\Backup\_current\*.*"
rmdir /s /q "C:\_DATA\hMailServer\Backup\_current\DataBackup"
`

[2022-10-06 07:22] babaralishah commented on #199
Hi
I am on Angular

And using the below regex:

`'^[a-z0-9]+([._-]?[a-z0-9]+)+@[a-z0-9]+([._-]?[a-z0-9]+)+\\.[a-z]{2,3}$'`

But its not fulfilling my requirement, my requirement is below:

`saa5@me-d_d_u.co`

please anyone tell me, why this regex is not working for my above mentioned case.

Regards
Babar Ali Shah

[2022-10-06 20:15] jimimaseye commented on #199
The string quoted [above](https://github.com/hmailserver/hmailserver/issues/199#issue-176864016) is correct and matches.

[2022-10-23 09:12] FabulousGee commented on #357
Still an issue - no one going for it?

[2022-11-15 18:41] LokotoAi opened #448 "No password request during installation"
Hello,

Just downloaded latest build hMailServer-5.6.8-B2574.exe
So, there is no "Specify main password" window during installation process. It just installed succesfully and asks for unknown password in administrator window.

[2022-11-15 21:08] OutbackMatt commented on #448
You've previously had hMailserver installed on that computer

This type of question is better handled in the user forum please
https://www.hmailserver.com/forum/

This is the help document to get you going again
https://www.hmailserver.com/documentation/latest/?page=howto_change_administrator_password

[2022-11-16 00:09] LokotoAi commented on #448
No, first install on clean system

[2022-11-16 00:28] OutbackMatt commented on #448
did you follow the steps in the help document I linked to?
Removing the password from the hmailserver.ini, then reinstalling hmailserver again...

Feel free to include the contents of your hMailserver.ini if you are stuck

Again, this is FAR better handled in the user forum